In [7]:
class Employee:
    numberOfEmployees = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.numberOfEmployees += 1


    def averageSalary(employee_list):
        totalSalary = sum(employee.salary for employee in employee_list)
        return totalSalary / len(employee_list)


class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


employee1 = Employee("venkat", "Familia", 90000, "Manager")
employee2 = Employee("surendra", "Savanam", 80000, "Finance")
employee3=  Employee("Akhil",     "koti",    70000, "Digital Marketing")

fullTimeEmployee1 = FulltimeEmployee("pavan", "kumar",25000, "HR")
fullTimeEmployee2 = FulltimeEmployee("Moksha", "panala", 35000, "Lead")

employees = [employee1, employee2, fullTimeEmployee1, fullTimeEmployee2]

avgSalary = Employee.averageSalary(employees)
print("Average Salary For All the Full Time And Employees :", avgSalary)
print("Total Number of full time and Employees:", Employee.numberOfEmployees)

Average Salary For All the Full Time And Employees : 57500.0
Total Number of full time and Employees: 5

In [8]:
import numpy as np
randomVector = np.random.uniform(1, 20, 20)
reshapedArray = randomVector.reshape(4, 5)
reshapedArray[np.arange(reshapedArray.shape[0]), reshapedArray.argmax(axis=1)] = 0
print(reshapedArray)

[[14.8335098   4.4341182  14.75343627  3.94585572  0.        ]
 [ 0.         17.68882402  5.84084852 15.0173647  11.62776266]
 [ 8.43664978  3.77233942  7.84056462  2.48969038  0.        ]
 [ 7.03047519  4.00776358 10.15584741 14.06236795  0.        ]]